body {
  height: 1920px;
  width: 1080px;
  margin: 0 !important;
  padding: 0 !important;
  background-image: url("./assets/background.jpg") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.petrol-position {
  position: absolute;
  top: 12px;
  left: 332px;
}

.hospital-position {
  position: absolute;
  top: 403px;
  left: 3px;
}
