{% extends "bootstrap/base.html" %}
{% block title %}LPR Demonstrator{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
</div>
    {% endblock %}

    {% block content %}
    <h1>LPR Demo</h1>
    <br><br>
    <button onClick="window.location.reload();">Refresh Page</button>
        <div id="target_div" style="margin-top: 444px;">Watch this space...</div>

    <script>
        var targetContainer = document.getElementById("target_div");
        var eventSource = new EventSource("/stream")
        eventSource.onmessage = function(e) {
        targetContainer.innerHTML = e.data;
        };
    </script>
{% endblock %}
